@media screen and (min-width:1025px){
    .login-page
    {
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin:3% 10%;
    }
    .login-page .image{
        width:582px;
        height:373px;
    }
    .login-page .login-container{
        border:2px solid rgb(247, 243, 243);
        box-shadow: 5px 5px 5px rgb(218, 191, 191) ;
        padding:25px;
        border-radius:10px;
        width:456px;
        /* height:490px; */
        margin-left:5%;
    }
    .login-page .header{
        font-family:"Roboto";
        font-weight:500px;
        font-size:24px;
        text-align:center;
    }
    .login-page .top{
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding:40px;
    }
    .login-page .heading
    {
        font-family: "Roboto";
        font-weight:500px;
        font-size: 12px;
        margin-bottom:10px;
    }
    .login-page .text-box
    {
        background-color:#EEEEEE;
        border:none;
        border-radius:2px;
        padding:10px;
        outline:none;
        margin-bottom:10px;
    }
    .login-page .authentication
    {
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        margin-bottom:5px;
    }
    .login-page input::placeholder{
        color:rgb(197, 197, 203);
    }
    .login-page .Error{
        font-family: "Roboto";
        font-weight:400px;
        font-size:14px;
        color:red;
    }
    .login-page .button{
        border:none;
        padding:10px;
        border-radius:5px;
        background-color:blue;
        font-size: 14px;
        color:white;
        font-weight:700px;
        font-family: "Roboto";
        text-align:center;
    }
}
@media screen and (min-width:0px) and (max-width:1024px){
    .login-page
    {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .login-page .image{
        width:50%;
        padding-bottom:20px;
    }
    .login-page .login-container{
        border:2px solid rgb(247, 243, 243);
        box-shadow: 5px 5px 5px rgb(218, 191, 191) ;
        padding:25px;
        border-radius:10px;
        width:300px;
        height:px;
        
    }
    .login-page .header{
        font-family:"Roboto";
        font-weight:500px;
        font-size:24px;
        text-align:center;
    }
    .login-page .top{
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding:40px;
    }
    .login-page .heading
    {
        font-family: "Roboto";
        font-weight:500px;
        font-size: 12px;
        margin-bottom:10px;
    }
    .login-page .text-box
    {
        background-color:#EEEEEE;
        border:none;
        border-radius:2px;
        padding:10px;
        outline:none;
        margin-bottom:10px;
    }
    .login-page .authentication
    {
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        margin-bottom:5px;
    }
    .login-page input::placeholder{
        color:rgb(197, 197, 203);
    }
    .login-page .Error{
        font-family: "Roboto";
        font-weight:400px;
        font-size:14px;
        color:red;
    }
    .login-page .button{
        border:none;
        padding:10px;
        border-radius:5px;
        background-color:blue;
        font-size: 14px;
        color:white;
        font-weight:700px;
        font-family: "Roboto";
        text-align:center;
    }
}